@import "../abtracts/variables";
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: $overlay-bg;
}
.modal-content {
  width: 500px;
  height: 200px;
  background-color: $white;
  border-radius: 12px;
  padding: 10px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-body {
  margin-top: 10px;
}
