$overlay-bg: rgba(199, 199, 199, 0.3);
$white: white;
$btn-primary: #3498db;
$btn-primary-hover: #2980b9;
$task-done: rgba(55, 200, 152, 0.1);
$red: red;
$gray: #bbbdc7;
$check: #3498db;
$check-border: #2980b9;
